<h1>Landing#index</h1>
<h1> we're on 5.4 in http://guides.rubyonrails.org/getting_started.html </h1>
<h1>Phi Sigma Rho</h1>
<%= link_to 'About', controller: 'abouts' %>
<%= link_to 'Recruitment', controller: 'recruitments' %>
<%= link_to 'Sisters', controller: 'sisters' %>
<%= link_to 'Gallery', controller: 'galleries' %>
<%= link_to 'Contact', controller: 'contacts' %>
<%= link_to 'Philanthropy', controller: 'philanthropies' %>
<%= link_to 'Events', controller: 'events' %>
<p>Oh, hey William. I thought I smelled cookies wafting from the ovens of the little elves who live in your hair. - Sue Sylvester</p>
